<!-- <header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">

      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header> -->

  <!-- HEADER -->
  <div id="header">
    <div class="padder">

      <!-- BRAND -->
      <div class="brand">
        <a href="index.html">
          <img src="_lib/img/logo-dragon.png" width="260" height="97" alt="Dragon" class="crest"/>
        </a>
      </div><!-- /BRAND -->

      <!-- NAV -->
      <div id="nav" class="nfp">
        <div id="navItems"><!--
				--><a id="nav0" class="navItem css3pie" href="about.html"><span class="label">About</span></a><!--
				--><span class="sep"><span class="bg"></span></span><!--
        --><a id="nav1" class="navItem css3pie" href="gallery.html"><span class="label">Gallery</span></a><!--
        --><span class="sep"><span class="bg"></span></span><!--
        --><a id="nav2" class="navItem css3pie" href="anatomy.html"><span class="label">Anatomy</span></a><!--
        --><span class="sep"><span class="bg"></span></span><!--
        --><a id="nav3" class="navItem css3pie" href="behavior.html"><span class="label">Behavior</span></a><!--
        --><span class="sep"><span class="bg"></span></span><!--
        --><a id="nav4" class="navItem css3pie" href="diet.html"><span class="label">Diet</span></a><!--
        --><span class="sep"><span class="bg"></span></span><!--
        --><a id="nav5" class="navItem css3pie" href="mate.html"><span class="label">Mate</span></a><!--
        --><span class="sep"><span class="bg"></span></span><!--
        --><a id="nav6" class="navItem css3pie" href="habbit.html"><span class="label">Habbit</span></a><!--
        --><span class="sep"><span class="bg"></span></span><!--
        --></div>
      </div><!-- /NAV -->

    </div>
  </div><!-- /HEADER -->
